# Core packages
selenium>=4.15
webdriver-manager==4.0.2


# Environment & logging
python-dotenv>=1.1.1
python-json-logger>=3.3.0

# Date & time
pytz>=2025.2
python-dateutil>=2.9.0

# Networking & security
PyJWT>=2.10.1
PySocks>=1.7.1
requests>=2.31.0

# Data processing
numpy>=1.23
pandas>=2.1.1

# Code highlighting & evaluation (optional)
Pygments>=2.19.2
pure_eval>=0.2.3

# Web frameworks (optional)
flask>=2.3.3

